*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238,238,238);
}
/* -------slider starts------ */
.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background: rgb(238,238,238);
    /* overflow: hidden; */


}
.img-slider .slide{
    z-index: 1; 
    position: absolute;
    width: 100%;
    width: 800px;
    height: 500px;
    top: 0;
    opacity: 0;
    visibility: hidden;
    /* clip-path: circle(0% at 0 50%); */
    
}
.img-slider .slide.active{
    transition: all 2s;
    opacity: 1;
    visibility: visible;
}
.img-slider .slide img{
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    /* opacity: 0; */
}

.img-slider .slide .info {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    font-size: 24px;
    padding: 8px;
}


/* -----------navigation Starts--------*/ 

.img-slider .navigation{
    position: absolute;
    z-index: 2;
    display: flex;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
} 
.img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;

}
.img-slider .navigation .btn.active{
    background: lightblue;
    outline: 1px solid;
    outline-offset: 2px;
    box-shadow: 0 0 2px  rgba(255, 255, 255, 0.5);
}
.next{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    /* background: white; */
    color: white;
    opacity: 1;
    cursor: pointer;
    font-size: 70px;
    z-index: 3;
}
.prev{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    /* background: white; */
    color: white;
    opacity: 1;
    cursor: pointer;
    font-size: 70px;
    z-index: 3;
}
/* .img-slider:hover .next{
    opacity: .5;
    transition: all .5s;
} */

@media (max-width:820px){
    .img-slider {
        width: 600px;
        height: 375px;
    }
.img-slider .slide{
    width: 600px;
    height: 375px;
    
}
.img-slider .navigation{
bottom: 25px;
}
.img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
}
@media (max-width:620px){
    .img-slider {
        width: 400px;
        height: 250px;

    }
    .img-slider .slide{
        width: 400px;
        height: 250px;
        
    }
    .img-slider .navigation{
        bottom: 15px;
    }
    .img-slider .navigation .btn{
            width: 8px;
            height: 8px;
            margin-right: 6px;
    }
} 